/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: middle;
}

/* Estilos del cuerpo */
body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
}

/* Encabezado */
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo {
    margin-left: 30px;
}

.logo img {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 20px;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: #3EDADD;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #ffffff;
}

/* Cabecera */
.header {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh !important;
    background: url(https://images.pexels.com/photos/688890/pexels-photo-688890.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center/cover;
    margin-bottom: 20px;
    padding: 0 20px; /* Añadir padding */
}

.title {
    margin-top: 20vh; /* Ajustar margen superior */
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

p {
    margin-bottom: 40px;
    font-size: 22px;
    color: rgb(47, 0, 255);
    padding: 0 100px;
}

/* Botones */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    border: 1px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
    font-size: 18px;
    margin-bottom: 20px;
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}

/* Contenido */
.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 580px;
    background: #1f1d1d;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: initial;
    text-align: center;
}

.box-container .box {
    height: 39rem;
    width: 70%;
    background: #ffffff;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 0 5rem rgb(250, 250, 250);
    margin: 2rem;
    flex-direction: row;
}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;
    margin-top: 2%;
    margin-bottom: 5px;
}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
    margin-top: 5px;
}

article {
    position: relative;
    width: 120px;
    margin: 0 auto;
    transition: all .3s ease;
    margin-bottom: 20px;
}

article img:first-child {
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

article img:last-child {
    position: absolute;
    width: 120px;
    bottom: 0;
    left: 0;
    right: 10%;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}

article:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

article::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0) 95%);
    opacity: 0;
    transition: all .3s ease;
}

article:hover::before {
    opacity: 1;
}

article:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}

/* Sección de precio */
.price {
    background: url(https://estaticos-cdn.prensaiberica.es/clip/10438ead-4fa9-4249-b79b-cf6f72051727_16-9-discover-aspect-ratio_default_0.jpg) no-repeat center/cover;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.price b {
    color: rgb(253, 132, 62);
}

/* Sección de contacto */
.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}

.contact h2 {
    font-size: 40px;
}

#footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer-columna {
    flex: 1;
    text-align: left;
}

.footer-logo-column {
    margin-bottom: 20px;
}

.social-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links ul li {
    display: inline-block;
    margin-right: 10px;
}

.social-links ul li a {
    color: #fff;
}

.footer-bottom {
    padding: 10px 0;
}

.footer-bottom small {
    color: #fff;
    display: block;
    text-align: left;
}


/* Media queries para dispositivos pequeños */
@media (max-width: 768px) {
    .sau {
        padding: 10vw;
    }

    .box-container {
        justify-content: center;
    }

    .box-container .box {
        width: calc(100% - 20px);
        height: auto;
    }

    /* Ajustes para el título en dispositivos pequeños */
    .title {
        margin-top: 10vh;
    }
}



